@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* globals.css or your CSS file */
/* globals.css or your CSS file */
.text-gradient {
  background: linear-gradient(45deg, #FCF8A8 , #C98200 );
  -webkit-background-clip: text;
  color: transparent;
}
.border-gradeint{
 
  border: 1px solid transparent;
  border-image: linear-gradient(360deg, #FCF8A8, #C98200) 1;
}

.gradientpro{
  /* background-color: #27262621;
  background-image: linear-gradient(to bottom, #312f2f00 0%, #211f1f 60%); */
  background-color: #27262600;
  background-image: linear-gradient(to bottom, #0000002b 0%, #353131 60%);
}

@media only screen and (max-width: 700px) {
  .gradientpro{
    /* background-color: #27262621;
    background-image: linear-gradient(to bottom, #312f2f00 0%, #211f1f 60%); */
    background-color: #21201E;
    background-image: linear-gradient(to bottom, #21201E 0%, #21201E 60%);
  }
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  background-color: #fff;
}

}
/* .text-gradient45 {
  background: linear-gradient(45deg, #FCF8A8 , #C98200 );
  -webkit-background-clip: text;
  color: transparent;
} */

.paymentbg{
  background: linear-gradient(to bottom, #051A76 100%, #0C0C09 100%);
}

