@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* globals.css or your CSS file */
/* globals.css or your CSS file */
.text-gradient {
  background: linear-gradient(45deg, #FCF8A8 , #C98200 );
  -webkit-background-clip: text;
  color: transparent;
}

.gradientpro{
  background-color:#22222200 ;
  background-image: linear-gradient(to bottom, #22222200 0%, #22222200 100%);

}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  background-color: #fff;
}
/* .text-gradient45 {
  background: linear-gradient(45deg, #FCF8A8 , #C98200 );
  -webkit-background-clip: text;
  color: transparent;
} */

.paymentbg{
  background: linear-gradient(to bottom, #051A76 100%, #0C0C09 100%);
}

}
